[DEFAULT]
name = monasca_api

[pipeline:main]
# Add validator in the pipeline so the metrics messages can be validated.
pipeline = auth keystonecontext api

[app:api]
paste.app_factory = monasca_api.api.server:launch

[filter:auth]
paste.filter_factory = keystonemiddleware.auth_token:filter_factory

[filter:keystonecontext]
paste.filter_factory = monasca_api.middleware.keystone_context_filter:filter_factory

[server:main]
use = egg:gunicorn#main
host = {{ monasca_api_bind_host }}
port = {{ monasca_api_client_port }}
workers = {{ api_gunicorn_workers }}
proc_name = monasca_api
